/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	// chosen {
	// 	nordic,nus-uart = &uart0;
	// };

    aliases {
        uart1 = &uart1;
    };
};

&uart1 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <57600>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-1 = <&uart1_sleep>;
    pinctrl-names = "default", "sleep";
};
